# Project files
#data
.vscode
#data/
data/RIRs/*.wav
#results/
dataframes/*.csv
cache/base_de_datos*
cache/exp*
cache/exp*/*.pkl
cache/base_de_datos*/*.pkl
results/**/*.pickle
results/**/*.h5
venv
# Python
 
*.ipynb_checkpoints
*.npy
*.pyc

# vim
*.swp
*.swo

# Audio files
#*.wav
#*.WAV